body {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

.top_container {
    background-color: #E1D7C6;
    font-family: 'Montserrat', sans-serif;
}

.middle_container {
    height: 200px;
    width: 200px;
    background-color: #ECE8DD;
}

.bottom_container {
    height: 200px;
    width: 200px;
    background-color: #579BB1;
}

.top_cloud {
    margin-top: 50px;
    position: relative;
    left: 200px;
}

.bottom_cloud {
    position: absolute;
}